<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/adonis-vue-logo.png" type="image/png">
  <title>Adonis - Vue</title>
  {{ style('assets/css/app.css') }}
</head>
<body>

  <div id="app"></div>
  
  {{ script('assets/js/app.js') }}
</body>
</html>